@model List<CategoryViewModel>

<option selected style="width:10px;">Kategori seçiniz...</option>
@foreach (var item in Model)
{
	@if (item.Id <= 5)
	{
     
		<option value="@item.Id" style="width:10px;"> <a asp-action="Index" asp-controller="Event"
		asp-route-id="@item.Id">@item.CatName</a>
</option>
	}
}
</select>
</div>
