@model CartOverlayViewModel

<div style="display:flex;flex-direction: row;align-content: flex-start;justify-content: space-between;">
    <h3>Sepetiniz</h3>
    <button class="btn-close" id="closeButton">
        <span class="icon-cross"></span>
    </button>

</div>
<hr />
@if (Model.CartItems.Any())
{
    <ul style="font-size: medium; font-family:Helvetica,helvetica nueu; list-style-type: none; display: contents;">
    @foreach (var item in Model.CartItems)
        {

            <li>Etkinlik:@item.EventName</li>
            <li>Adet:@item.EventQuantity</li>
            <li>Baz Fiyat:₺@item.EventPrice x @item.EventQuantity </li>
            <li>Fiyatı:₺@(item.EventQuantity * item.EventPrice)</li>
            <hr />

        }
    </ul>
    <p>
    <strong>Total: ₺@if (TempData["ToplamTutar"] != null)
            {
                @TempData["ToplamTutar"]
            }

        </strong>
    </p>

    <a href="/Cart/Index" class=" btn btn-primary" style="background-color:#1976D2;">View Cart</a>
    <a href="/Shopping/Checkout"class=" btn btn-success" style="background-color: #4CAF50;">Checkout</a>
}
else
{
    <p>Sepetiniz boştur.</p>
}


<style>
    .overlay {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: white;
        border: 1px solid #ddd;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
</style>
<script>
    document.getElementById('cartButton').addEventListener('click', function () {
        document.getElementById('overlay').style.display = 'contents';
    });

    document.getElementById('closeCartButton').addEventListener('click', function () {
        document.getElementById('overlay').style.display = 'none';
    });
</script>