@model List<EventViewModel>
@{
    Layout = "_Layoutfake";
}
<h3 style="padding: 4%;"> Aramanızla ilgili sonuçlar 🔍 </h3>
@if (Model.Any())
{
    <div class="row" style="padding: 2%;">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mix" >
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl"style="max-height: 200px;">
                        <ul class="product__hover">
                            <li><a href="@item.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul> 
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">@item.Name</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No events found matching your criteria.</p>
}
