@model List<EventViewModel>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layoutfake.cshtml";
}
   @foreach (var item in Model)
        {
            <tr>

                <td><a href="/Event/Details/@item.Id"> <img style="max-height: 120px; align-items: center;" src="@Html.DisplayFor(modelItem => item.ImageUrl) "></a></td>
                <td style="align-content: center;">@Html.DisplayFor(modelItem => item.Name)</td>
                <td style="align-content: center;">@Html.DisplayFor(modelItem => item.EventDate)</td>
                <td style="align-content: center;">@Html.DisplayFor(modelItem => item.Ticket.Price)</td>



            </tr>
        }