@model List<EventViewModel>

@{
    Layout = "_Layoutfake";
}

<h3> Sport Category</h3>
<table class="table">
    <tr>
        <th scope="col">The Artist</th>
        <th scope="col">Etkinlik Adı</th>
        <th scope="col">Etkinlik Tarihi</th>
        <th scope="col">Etkinlik Yeri</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td> <img style="max-height: 120px;" src="@Html.DisplayFor(modelItem => item.ImageUrl)"></td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Location.Venue)</td>
                


            </tr>
        }



    </tbody>


</table>
