@model List<EventViewModel>

    @{
        Layout= "_Layoutfake";
    }

<h3> Sport Category</h3>

@foreach(var item in Model)
{ 
    <ul class="list-group w-50">
    <li class="list-group-item align-items-center d-flex">
        <a data-mdb-ripple-init class="btn text-white btn-floating m-1 me-3"
        style="background-color: hsl(330, 70%, 50%);" href="#!" role="button">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
          @item.Name
    </li>
    </ul>

  
    
}

